.action {
    cursor: pointer;
    user-select: none;
    background: white;
    flex-basis: 1;
}

.action .spacer {
    min-width: 1rem;
}

.action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action .progressbar {
    width: 0%;
    position: absolute;
    left: 0;
    height: 100%;
    display: block;
    background-color: rgba(22, 207, 6, 0.2);
}

/**
* Action Full
*/

.action.full {
    height: 55px;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.action.full .title {
    font-size: 1.2rem;
    z-index: 1;
    font-weight: 400;
}


.action.full .action-icon {
    margin: 14px;
    width: 27px;
    height: 27px;
    font-size: 21px;
    border-radius: 5px;
    transition: opacity 150ms ease;

}

.action.full.focus {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.action.full.focus .action-icon {
    width: 36.66px;
    height: 36.66px;
    margin: 10px;
    font-size: 27.16px;
    border-radius: 6.79px;
}

.action.full .actions .action-icon {
    font-size: 34px;
}

.action.full .close-button {
    /* display: none; */
    font-size: 28px;
    opacity: 0;
    transition: opacity 250ms ease;
    margin-left: -2.5rem;
}

.action.full:hover .close-button {
    /* display: block; */
    opacity: 1;
    z-index: 1;
}

.action:not(.focus).full:hover .main {
    /* display: none; */
    opacity: 0;
}

/**
* Action Small
*/
.action.small .title {
    font-size: 0.67rem;
    font-weight: 500;
}

.action.small {
    height: 28px;
    box-shadow: 0 0 0 0.770548px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}

.action.small .action-icon {
    margin: 4.62px;
    margin-right: 6px;
    width: 18.49px;
    height: 18.49px;
    font-size: 12px;
    border-radius: 3.42px;
}

.action.small.light {
    background: rgb(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/**
Action Normal
*/

.action.normal {
    height: 36px;
    position: relative;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.action.normal.progress {
    overflow: hidden;
}

.action.normal .title {
    font-weight: 500;
    z-index: 1;
    font-size: 14px;
}

.action.normal .action-icon.main {
    border-radius: 4.44px;
    margin: 6px;
    width: 24px;
    height: 24px;
    z-index: 1;
    font-size: 17.78px;
}

.action.normal .close-button {
    opacity: 0;
    font-size: 1rem;
    margin: 8px;
    transition: opacity 250ms ease;
}

.action.normal:hover .close-button {
    opacity: 1;
}