html {
    --background-color: #ECECEC !important;
}

.sidepanel {
    background-color: #F9F9F9;
    overflow: auto;
}

.sidepanel .vertical-stack .vertical-stack {
    display: grid;
    height: unset;
    padding-bottom: 10px;
}

.navigation .new-tab {
    color: var(--on-card-text);
    font-size: 32px;
    cursor: pointer;
    padding: 11.5px 12px;
    user-select: none;
}

.container {
    min-height: calc(100vh - 55px - 30px);
    overflow: hidden;
}

:not(.main).action-icon:active, .new-tab:active {
    transform: translate(0, 1px);
}

.sidepanel .winput input {
    color: #434244;
}

.sidepanel .winput:not(.has-value) span {
    padding-top: 13px;
}

.sidepanel .winput {
    height: 39px;
    background-color: #E9E9E9;
    color: #434244;
}

.sidepanel .quick-filter .wbutton {
    height: 20px;
    padding: 0 5px;
    font-size: 11px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .container>.spacer:last-child {
        display: none;
    }
}

@media (max-width: 800px) {
    .container>* {
        flex-basis: 80%;
    }

    .sidepanel {
        position: fixed;
        z-index: 3;
        width: 70%;
        box-shadow: 0px 1px 19px 4px #0000004d;
        top: calc(100% - 3.6rem);
    }

    .container {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .container>* {
        flex-basis: 100%;
    }

    .sidepanel {
        width: 95%;
    }

    .container {
        flex-wrap: wrap;
    }

    .container>.spacer {
        display: none;
    }
}